



.control09 {display: inline-flex;position: relative;margin: 5px;cursor: pointer;}
.control09 input {position: absolute;opacity: 0;z-index: -1;}
.control__content09 {display: inline-flex;align-items: center;padding: 6px 17px;color:#fff;background-color:#2e78c0;border-radius:50px;}
.control09 input:checked ~ .control__content09 {background-color:#3bac44 }

.box-mh{ min-height:130px}
.gobackbtn{background:#0a4e9f;color: #fff;padding: 5px 15px;border-radius: 5px; }
.gobackbtn:hover{color:#000 }

.pr{ position:relative}
.card-box-min{padding: 20px!important;border-radius: 5px;border: 1px solid #ced4da;box-shadow: 0px 2px 5px #ced4da;}
.navbar-custom{ background:#fff!important}
.navbar-custom .button-menu-mobile{ color:#0a4e9f!important}
.app-search-box .input-group{ border:1px solid #000; border-radius:20px}
.app-search-box .input-group-append .btn{ color:#0a4e9f!important}
.notification-list .noti-icon{ color:#0a4e9f!important}
.navbar-custom .topnav-menu .nav-link{ color:#0a4e9f!important}
.hh-dashboard .card-box .header-area form .form-control{ display:none!important}
.boxin_row{ margin:auto; padding:0}
.boxin_row .boxin_col{ list-style-type:none; display:inline-block; margin:10px 20px 10px 0}
.boxin_btn{ border:1px solid #ccc; background:#efefef; color:#000; border-radius:30px; padding:3px 22px; }
.boxin_add{ color:#fff; font-size:15px; padding:4px 0; display:block}
.boxin_add_bg{background:#45ab45; border:1px solid #45ab45}
.btn-primary{ background:#024e8a!important; border:none!important; color:#fff!important}
.btn{border:none!important;}
.hh-dashboard #wrapper .navbar-custom{ z-index:999}
.mh-80{ min-height:80px!important}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link{background:#45ab45!important;}
.enlarged .topnav-menu-left{position: relative;left: 80px;}
.card {box-shadow: 0 4px 20px 1px rgba(0, 0, 0, 0.06), 0 1px 4px rgba(0, 0, 0, 0.08)!important}

.back-cc{ background:#ccc}

.tagging.editable {cursor: text;}
.tag { color:#000;background: none repeat scroll 0 0 #ddd;border-radius: 2px;cursor: default;display: inline-block;position: relative;white-space: nowrap;padding:6px 40px 6px 20px;margin: 5px 10px 0 0;}
.tag span{ display:none}
.tag {cursor: default;white-space: nowrap;}
.tag .tag-i {cursor: pointer;font-size: 27px;height: 0;line-height: 0.1em;position: absolute;right: 5px;top:16px;text-align: center;}
.tagging {border: 1px solid #dee2e6;font-size: 1em;height: auto;padding: 10px 10px 15px;border-radius: 4px;}
.type-zone { padding:6px 0;border: none!important;height: auto;width: auto;min-width: 20px;display: inline-block;}
.awe-booking .form-control, .awe-booking .nice-select, .awe-booking .select2-container .select2-selection--single, .awe-booking .select2-container .select2-selection--multiple{ padding:7px 10px!important}
thead th{font-weight: bold!important;}
.modal-lg, .modal-xl{max-width: 1000px!important}
.change-logo{display: block;padding: 10px;border: 1px solid;margin: 20px 0;text-align: center;}
#myfix_header{border:1px solid #e0dede;position:sticky;top:70px;background: #0a4e9f;border-radius: 5px; padding:4px 0;width:100%;text-align:center;display:flex; z-index:20; margin-bottom:30px;box-shadow: 0 0 5px #e0dede;align-items: center;}
#myfix_header a{padding:3px 8px;  width:100%; border-right:1px solid #e0dede; font-size:13px;color: #fff}
#myfix_header a:last-child{ border:none}
.awe-booking .form-control, .awe-booking .nice-select, .awe-booking .select2-container .select2-selection--single, .awe-booking .select2-container .select2-selection--multiple{border-color:#005291!important  }
label{color:#005291 }
.btn{border-radius: 10px!important;border: none;}
.btn09{border: none;}
.lstlog-d{ width:300px; background:#eaeaea !important}
.select2-container {min-width: 400px;}
.select2-results__option {padding-right: 20px;vertical-align: middle;}
.select2-results__option:before {content: "";display: inline-block;position: relative;height: 20px;width: 20px;border: 2px solid #e9e9e9;border-radius: 4px;background-color: #fff;margin-right: 20px;vertical-align: middle;}
.select2-results__option[aria-selected=true]:before {font-family:fontAwesome;content: "\f00c";color: #fff;background-color: #f77750;border: 0;display: inline-block;padding-left: 3px;}
.select2-container--default .select2-results__option[aria-selected=true] {background-color: #fff;}
.select2-container--default .select2-results__option--highlighted[aria-selected] {background-color: #eaeaeb;color: #272727;}
.select2-container--default .select2-selection--multiple {margin-bottom: 10px;}
.select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {border-radius: 4px;}
.select2-container--default.select2-container--focus .select2-selection--multiple {border-color: #f77750;border-width: 2px;}
.select2-container--default .select2-selection--multiple {border-width: 2px;}
.select2-container--open .select2-dropdown--below {border-radius: 6px;box-shadow: 0 0 10px rgba(0,0,0,0.5);}
.select2-selection .select2-selection--multiple:after {content: 'hhghgh';}
.select-icon .select2-selection__placeholder .badge {display: none;}
.select-icon .placeholder {display: none;}
.select-icon .select2-results__option:before,.select-icon .select2-results__option[aria-selected=true]:before {display: none !important}
.select-icon  .select2-search--dropdown {display: none;}
.awe-booking .form-group .select2-container .select2-selection--multiple .select2-selection__choice{ background:#7b7a7a!important; border-color:#7b7a7a!important}
.select2-results .select2-results__option{display: inline-block;}

.boknw_box{ margin:auto; padding:0}
.boknw_box li{ list-style-type:none}
.boknw_box li a{ display:block; padding:15px 10px; color:#3f4040; border-bottom:1px solid #ccc}
.boknw_box li a:hover{ background:#ccc}
.nav-pills-tab{ border-bottom:1px solid; margin:30px 0}
.nav-pills-tab a{ background:#f2efef!important;width: 25%; margin:0!important;text-align: center; border-radius:0!important}
.tab-content {padding: 25px 0!important}

.tooltip-inner{ font-size:10px; padding:10px!important; background:#30a435!important}
.tooltip .arrow::before { border-top-color:#30a435!important}

#sidebar-menu > ul > li > a:active, #sidebar-menu > ul > li > a:focus, #sidebar-menu > ul > li > a:hover{color: #0a4e9f!important}
.navbar-custom .button-menu-mobile{color: #0a4e9f!important}
.profile-dropdown{width: auto!important;}

/*STARS*/

.rating-group {display: inline-flex;}
.rating__icon {pointer-events: none;}
.rating__input {position: absolute !important;left: -9999px !important;}
.rating__label {cursor: pointer;padding: 0 0.1em;font-size: 2rem;}
.rating__label--half {padding-right: 0;margin-right: -0.7em;z-index: 2;}
.rating__icon--star {color: orange;}
.rating__icon--none {color: #eee;}
.rating__input--none:checked + .rating__label .rating__icon--none {color: red;}
.rating__input:checked ~ .rating__label .rating__icon--star {color: #ddd;}
.rating-group:hover .rating__label .rating__icon--star,.rating-group:hover .rating__label--half .rating__icon--star {color: orange;}
.rating__input:hover ~ .rating__label .rating__icon--star,.rating__input:hover ~ .rating__label--half .rating__icon--star {color: #ddd;}
.rating-group:hover .rating__input--none:not(:hover) + .rating__label .rating__icon--none {color: #eee;}
.rating__input--none:hover + .rating__label .rating__icon--none {color: red;}

.rating-group {display: inline-flex;}
.rating__icon {pointer-events: none;}
.rating__input {position: absolute !important;left: -9999px !important;}
.rating__input--none {display: none}
.rating__label {cursor: pointer;padding: 0 0.1em;font-size: 2rem;}
.rating__icon--star {color: orange;}
.rating__input:checked ~ .rating__label .rating__icon--star {color: #ddd;}
.rating-group:hover .rating__label .rating__icon--star {color: orange;}
.rating__input:hover ~ .rating__label .rating__icon--star {color: #ddd;}
/*STARS*/



.prd_show{ border-radius:20px; overflow:hidden; transition:0.5s; background:#1c1f24; position:relative}

.prd_show:hover .prd_show_tx{ top:0;}
.prd_show_min{ position:relative}
.prd_show_tx{ position:absolute; background:#3bac44d4; color:#fff;width:100%; transition:0.2s;top:-100%; left:0; right:0; height:100%; padding:47px 20px 10px 20px}
.prd_show_tx ul{ padding:10px 30px}
.prd_show_tx ul li{ margin:4px}
.prsct1{display: inline-block;padding: 6px 20px; border:1px solid #fff; color:#fff; border-radius:5px; font-weight:bold; text-transform:uppercase}

.prodxont{ padding:20px 20px; color:#fff}
.prono1{ position:absolute; top:0; color:#fff; background:#2e78c0; padding:7px 10px; left:20px}
.prono2{ position: absolute; top:0px; padding:5px; right:20px; }
.prono2 a:hover{ color:red}
.prono2 a{ font-size:20px; color:#fff}
.prodxont h3{  font-weight:bold!important; text-transform:uppercase; margin:auto}
.prodxont h4{ color:#3bac44!important;font-weight:bold!important; margin:auto}
.prodxont p{ padding:10px 0}
.proright{ text-align:right; margin:-10px 0 0}
.proright p{ margin:auto; padding:0}

.backcolor_b{background:#2e78c0}
.backcolor_g{background:#d5d5d5}
.backcolor_d{background:#1c1f24}


/*========== ACCORDI0N ===========*/
/*========== ACCORDI0N ===========*/



/*Start svg star rating pulugin */

.jq-stars {
  display: inline-block;
}

.jq-rating-label {
  font-size: 22px;
  display: inline-block;
  position: relative;
  vertical-align: top;
  font-family: helvetica, arial, verdana;
}

.jq-star {
 /* width: 20px !important;
    height: 20px !important;*/
  display: inline-block;
  cursor: pointer;
}

.jq-star-svg {
  padding-left: 3px;
  width: 100%;
  height: 100% ;
}

.jq-star:hover .fs-star-svg path {
}

.jq-star-svg path {
  /* stroke: #000; */
  stroke-linejoin: round;
}

/* un-used */
.jq-shadow {
  -webkit-filter: drop-shadow( -2px -2px 2px #888 );
  filter: drop-shadow( -2px -2px 2px #888 );
}

/* END svg star rating plugin*/

/* Start Nilesh*/


/*End Nilesh*/